.home-container {
    position: relative;
    min-height: 100vh;
}

.loader-container {
    position: fixed;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    position: absolute;
}

  
  

