.home-container {
    position: relative;
}

.loader-container {
    position: fixed;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    position: absolute;
}

  
  

