.navbar-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    border: 5px solid $black;
    border-right: none;
    position: sticky;
    top: 0;
    background-color: $white-humo; 
    box-sizing: border-box;
    padding: 0 20px;
    transition: top 0.3s ease; 
    top: 10px;
    z-index: 1;
    
    .logo-wrapper {
      height: 100%;
    }
  
    .logo-wrapper img {
      max-height: 100%;
      width: auto;
      object-fit: contain;
      transition: transform 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: translateX(25px);
      }
    }
  
    .links-wrapper {
      display: flex;
      gap: 30px;
      margin-right: 25px;

      .sign-out-button {
        border: 4px solid $black;
        font-size: 1.5em;
        font-weight: 600;
        color: $black;
        transition: 0.5s ease-in-out;
        cursor: pointer;

            &:hover {
                background-color: $yellow;
            }
      }
    }
  
    .links-wrapper a {
        text-decoration: none;
        font-size: 1.5em;
        color: $black;
        font-weight: 500;
        position: relative;
        display: inline-block; 
        transition: color 0.3s ease;
    
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 45%;
            width: 100%;
            height: 2px; 
            background: $black; 
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease;
        }
    
        &:hover::before {
            transform: scaleX(1);
        }
    }

    @media (max-width: 1100px) {
      flex-direction: column;
      gap: 5px;
      height: auto;
      padding: 10px 15px;
      position:static;

      .logo-wrapper {
          order: 1;
          
      }

      .links-wrapper {
          order: 2;
          flex-direction: column;
          gap: 15px;
          align-items: center;
      }

      .links-wrapper a {
          font-size: 1em;
      }
  }

  @media (max-width: 480px) {
      .logo-wrapper img {
          max-height: 50px;
      }

      .links-wrapper {
          gap: 10px;
      }

      .links-wrapper a {
          font-size: 1em;
      }
  }

}